@import "../../scss/index.scss";

.ui.menu.vertical.menu {
  display: flex;
  justify-content: space-between !important;
  border-radius: 0;
  background-color: $background-light;
  height: 100%;
  width: 100%;

  .item,
  a.item {
    color: $font-grey;
    font-weight: bold;
    font-size: $default-font-size;
    border-left: 4px solid transparent;
    width: 100%;

    &:hover,
    &.active {
      color: $font-light !important;
      background-color: $background-grey !important;
      cursor: pointer;
    }
    &.active {
      border-color: $primary-color;
    }
  }
}
